<% set_meta_tags title: '取引ノートを作ろう！最高の取引教材はあなたの取引記録です！' %>
<section class="content">
  <h1><span>取引記録のノートを作ろう！</span></h1>
  <%= image_tag 'trading_note_.jpg', class: "top_img" %>
  <p class="catch">自分の取引記録が最高の取引教材になるその時まで</p>

  <h2 class="for_top">公開する取引ノートを作るメリット</h2>
  <ul>
    <li class="benefit">取引ルールが明確になる</li>
    <li class="benefit">取引ルールを守れるようになる</li>
    <li class="benefit">自身の取引に対する理解が深まる</li>
    <li class="benefit">取引ルールのブラッシュアップ</li>
    <li class="benefit">取引記録に対するフィードバック</li>
    <li class="benefit">他トレーダーの記録で勉強できる</li>
  </ul>
  <div class="space"></div>

  <h2 class="for_top">取引ノートで自身の取引を可視化！</h2>
  <p>自身の取引を記録することでデータを作りグラフ化していきます。</p>
  <p>自分の取引を客観的に見て取引精度をあげ、資産を増やしていきましょう！</p>
  <%= image_tag 'record_date.png', class: "top_img" %>
  <div class="space"></div>

  <h2 classs="for_top">みんなの取引記録をみてみよう！</h2>
    <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/records", locals: { record: record } %>
    <% end %>
  </div>
  <%= link_to "もっと取引記録をみる", records_path, class: "btn_" %>
  <% unless user_signed_in? %>
    <div class="for_user">
      <div class="btn btn--white btn--radius">
        <%= link_to "新規登録して取引を記録する！", new_user_registration_path, class: "btn_word" %>
      </div>
      <div class="btn btn--white btn--radius">
        <%= link_to "ログインして取引を記録する！", new_user_session_path, class: "btn_word" %>
      </div>
    </div>
  <% end %>
  <div class="space"></div>

  <h2 class="for_top">みんなの取引手法をみてみよう！</h2>
  <div class="grid_ grid__res">
    <% @rules.each do |rule| %>
      <%= render partial: "shared/rules", locals: { rule: rule } %>
    <% end %>
  </div>
  <%= link_to "もっと取引手法をみる", rules_path, class: "btn_" %>
  <% unless user_signed_in? %>
    <div class="for_user">
      <div class="btn btn--white btn--radius">
        <%= link_to "新規登録して取引を記録する！", new_user_registration_path, class: "btn_word" %>
      </div>
      <div class="btn btn--white btn--radius">
        <%= link_to "ログインして取引を記録する！", new_user_session_path, class: "btn_word" %>
      </div>
    </div>
  <% end %>
  <div class="space">
  </div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2.img_url), @ad_2.af_link)%></div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5.img_url), @ad_5.af_link)%></div>
</section>