<% set_meta_tags title: "#{@name}さんの詳細ページ}", description: "#{@name}さんの取引記録の分析などを詳しく見ることができるページです！獲得pips数の推移、全体の勝率、通貨ペア別の勝率が確認できます！" %>
<div class="breadcrumbs">
  <% breadcrumb :user_show, @user %>
</div>  
<section class="content">
  <h2><span><%= @name %>さんのページ</span></h2>
  <div class="ad_5"><%= link_to(image_tag(@ad_5_.img_url), @ad_5_.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2_.img_url), @ad_2_.af_link)%></div>
  <%= render partial: "relationships/relationship_btn", locals: { user: @user } %>
  <div class="follow_reration">
    <div class="btn">
      <p>フォロー : <%= link_to @user.followings.count, "/users/#{ @user.id }/followings" %>
    </div>
    <div class="btn">
      <p>フォロワー : <%= link_to @user.followers.count, "/users/#{ @user.id }/followers" %>
    </div>
  </div>
  <h3><%= @name %>さんの取引分析</h3>
  <h4>獲得pips数</h4>
  <p><b>全体</b><p>
  <%= column_chart @records_by_user.group(:date).sum(:pips), xtitle: "date", ytitle: "pips" %>
  <p><b>直近1ヶ月</b></p>
  <%= column_chart @records_by_user_month.group(:date).sum(:pips), xtitle: "date", ytitle: "pips" %>
  <div>
  </div>
  <h4>全体勝率</h4>
  <div class="win_lose">
    <div class="blue"></div><p>勝ち</p><p>　/　</p><div class="red"></div><p>負け</p>
  </div>
  <%= pie_chart @records_by_user.group(:issue_id).count, donut: true, legend: false %>
  <p class="profit_factor">PF　:　<%= @all_pf.round(2) %></p>
  <h4>通貨ペア別勝率/PF</h4>
  <p><b>全体</b></p>
  <div class="win_lose">
    <div class="blue"></div><p>勝ち</p><p>　/　</p><div class="red"></div><p>負け</p>
  </div>
  <div class="pair_win_rate">
  <% @pair_cat.each do |pair_cat| %>
    <div class="win_rate">
      <% pair_rate = Record.where(pair_id: pair_cat) %>
      <%= Pair.find(pair_cat).name %>の勝率
      <%= pie_chart pair_rate.group(:issue_id).count, donut: true, legend: false %>
      <% pair_pips = pair_rate.where('pips not like?', '-%').pluck(:pips) %>
      <% pair_pips_ = pair_rate.where('pips like?', '-%').pluck(:pips) %>
      <% @pair_pf = pair_pips.sum/pair_pips_.sum.abs %>
      <p class="profit_factor">PF　:　<%= @pair_pf.round(2) %></p>
    </div>
  <% end %>
  </div>
   <b>直近1ヶ月</b>
  <div class="win_lose">
    <div class="blue"></div><p>勝ち</p><p>　/　</p><div class="red"></div><p>負け</p>
  </div>
  <div class="pair_win_rate">
  <% @pair_cat_month.each do |pair_cat| %>
    <div class="win_rate">
      <% pair_rate = Record.where(pair_id: pair_cat) %>
      <%= Pair.find(pair_cat).name %>の勝率
      <%= pie_chart pair_rate.group(:issue_id).count, donut: true, legend: false %>
      <% pair_pips = pair_rate.where(created_at: @from...@to).where('pips not like?', '-%').pluck(:pips) %>
      <% pair_pips_ = pair_rate.where(created_at: @from...@to).where('pips like?', '-%').pluck(:pips) %>
      <% @pair_pf = pair_pips.sum/pair_pips_.sum.abs %>
      <p class="profit_factor">PF　:　<%= @pair_pf.round(2) %></p>
    </div>
  <% end %>
  </div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5.img_url), @ad_5.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2.img_url), @ad_2.af_link)%></div>
  <h3><%= @name %>さんの取引履歴</h3>
  <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/records", locals: { record: record } %>
    <% end %>
  </div>
  <%= link_to 'もっと見る', index_records_path(@user.id), class: "link_to_user" %>
  <h3><%= @name %>さんの取引手法</h3>
  <div class="grid_">
    <% @rules.each do |rule| %>
      <%= render partial: "shared/rules", locals: { rule: rule } %>
    <% end %>
  </div>
  <%= link_to 'もっと見る', index_rules_path(@user.id) , class: "link_to_user" %>
  <% if user_signed_in? && current_user.id == @user.id %>
    <h3><%= @name %>さんの専用エリア</h3>
    <div class="btn btn--white btn--radius">
      <%= link_to '編集', edit_user_path(current_user.id), class: 'btn_word' %>
    </div>
  <% end %>
  <div class="ad_5"><%= link_to(image_tag(@ad_5_.img_url), @ad_5_.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2_.img_url), @ad_2_.af_link)%></div>
</section>