<h1><span>パスワード再設定手続き<span></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録emailアドレスをご入力ください" %>
  </div>

  <div class="actions">
    <%= f.submit "Send" , data: { confirm: "メールをご確認のうえ手続きを進めてください" }%>
  </div>
<% end %>
<%= render "devise/shared/links" %>

