<div class="record">
  <% if record.image.attached? %>
    <%= link_to image_tag(record.image, class:"recorded_img"), record_path(record.id) %>
  <% else %>
    <%= link_to image_tag("sample.jpg", class:"recorded_img"), record_path(record.id) %>
  <% end %>
  <p class="info">
    <%= record.pair.name %> →
    <% if record.issue.id == 2 %>
      <b><%= record.pips%>pips獲得！</b>
    <% elsif record.issue.id == 3 %>
      <%= record.pips%>pipsの損失
    <% else %>
      損益判定なし
    <% end %>
  </p>
  <% if record.indi_main_id != nil %>
    <p class="info">(<%= record.indi_main.name %>)</p>
  <% end %>
  <div class="record_small_info">
  <div class="likes_buttons_<%= record.id %>">
    <%= render partial: 'like_records/like', locals: { record: record } %>
  </div>
  <div>
    <i class="fas fa-eye like-btn"></i>_<%= record.impressions_count %>
  </div>
  <p class="created_by">
    by <%= link_to record.user.name, "/users/#{record.user_id}", {class: "link_to_user"} %>
  </p>
  </div>
</div>
