<section class="content">
  <h2 >みんなの取引記録</h2>
  <div class="container">
    <%= search_form_for @q, url: search_records_path do |f| %>
      <%= f.collection_select :pair_id_eq,Pair.all,:id,:name,include_blank: '通貨ペアで検索' %>
      <%= f.collection_select :ashi_id_eq,Ashi.all,:id,:name,include_blank: '時間足で検索' %>
      <%= f.collection_select :issue_id_eq,Issue.all,:id,:name,include_blank: '勝敗で検索' %>
      <%= f.collection_select :lose_reason_id_eq,LoseReason.all,:id,:name,include_blank: '理由で検索' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <div class="grid">
    <% @records.each do |record| %>
      <%= render partial: "shared/records", locals: { record: record } %>
    <% end %>
  </div>
  <div class="pagi">
    <%= paginate @records %>
  </div>
</section>

