<% set_meta_tags title: 'fxの取引記録一覧', description: 'みんなのfx取引記録の一覧が集結！通貨ペア、時間足、トレード種別（スキャルピング、デイトレ...）で検索して参考になる取引を見つけよう！' %>
<section class="content">
  <h2><span>みんなの取引記録</span></h2>
  <div class="container">
    <%= search_form_for @q, url: search_records_path do |f| %>
      <%= f.collection_select :pair_id_eq,Pair.all,:id,:name,include_blank: '通貨ペアで検索' %>
      <%= f.collection_select :ashi_id_eq,Ashi.all,:id,:name,include_blank: '時間足で検索' %>
      <%= f.collection_select :kind_id_eq,Kind.all,:id,:name,include_blank: 'トレード種別で検索' %>
      <%= f.collection_select :issue_id_eq,Issue.all,:id,:name,include_blank: '勝敗で検索' %>
      <%= f.collection_select :lose_reason_id_eq,LoseReason.all,:id,:name,include_blank: '理由で検索' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <div class="grid">
    <% @records.each_slice(8) do |records| %>
      <% records.each do |record| %>
        <%= render partial: "shared/records", locals: { record: record } %>
      <% end %>
      <div class="ad_2"><%= link_to(image_tag(@ad_2.img_url), @ad_2.af_link)%></div>
    <% end %>
  </div>
  <div class="pagi">
    <%= paginate @records %>
  </div>
</section>

