<div class="content">
    <div class="container">
        <h3>追加する</h3>
        <%= form_with(model: @record, local: true) do |form| %>
            <%= form.file_field :image, placeholder: "image" %>
            <%= form.collection_select (:hoge, :hoge, :id, :name, {}, {class:"select-box", id:"ashi"})%>
            <%= form.collection_select (:hoge, :hoge, :id, :name, {}, {class:"select-box", id:"pair"})%>
            <%= form.text_field :entry_rate, placeholder: "エントリー価格" %>
            <%= form.text_field :exit_rate, placeholder: "イグジット価格" %>
            <%= form.text_field :pips, placeholder: "獲得pips(20.5, -11.5)" %>
            <%= form.text_field :entry_basis, placeholder: "エントリー根拠" %>
            <%= form.collection_select (:hoge, :hoge, :id, :name, {}, {class:"select-box", id:"issue"})%>
            <%= form.collection_select (:hoge, :hoge, :id, :name, {}, {class:"select-box", id:"lose_reason"})%>
            <%= form.text_field :lose_reason_text, placeholder: "なぜ勝ったのか、なぜ負けたのか、その他" %>
            <%= form.submit "record trade" %>
        <% end %>
    </div>
</div>