<% if @record.image.attached? %>
  <% set_meta_tags title: "#{@record.pair.name}で#{@record.pips}pips獲得した取引", description: "エントリー根拠：#{@record.entry_basis}", og:{image: image_url(url_for(@record.image))}, twitter:{image: image_url(url_for(@record.image))} %>
<% else %>
  <% set_meta_tags title: "#{@record.pair.name}で#{@record.pips}pips獲得した取引", description: "エントリー根拠：#{@record.entry_basis}", og:{image: image_url('sample.jpg')}, twitter:{image: image_url('sample.jpg')} %>
<% end %>
<div class="breadcrumbs">
  <% breadcrumb :record_show, @record %>
</div>

<section class="content">
  <% if @record.issue.id == 2 %>
    <h2><span><%= @record.pair.name %>で<%= @record.pips %>pips獲得した取引の詳細</span></h2>
  <% else @record.issue.id == 3 %>
    <h2><span><%= @record.date %>の取引記録</span></h2>
  <% end %>
<%#  <div class="move_page">
<%#    <% if request.referer&.include?("/users/") || request.referer&.include?("/index_records.") %>
<%#      <% if @record.previous_record_user.present? %>
<%#        <%= link_to "< PREV", record_path(@record.previous_record_user), class: "btn_word"%>
<%#      <% end %>
<%#      <% if @record.next_record.user.present? %>
<%#        <%= link_to "NEXT >",record_path(@record.next_record_user), class: "btn_word" %>
<%#      <% end %>
<%#    <% elsif request.referer&.include?("/records") %>
<%#      <% if @record.previous_record.present? %>
<%#        <%= link_to "< PREV", record_path(@record.previous_record), class: "btn_word"%>
<%#      <% end %>
<%#      <% if @record.next_record.present? %>
<%#        <%= link_to "NEXT >",record_path(@record.next_record), class: "btn_word" %>
<%#      <% end %>
<%#    <% end %>
<%#  </div>  %>
  <div class="record_content">
    <div class="left_content">
      <h3>取引画像</h3>
      <% if @record.image.attached? %>
        <%= link_to image_tag(@record.image, class:"recorded_img_show") %>
      <% else %>
        <%= link_to image_tag("no_image.jpg", class:"recorded_img_show") %>
      <% end %>
    </div>
    <div class="right_content">
      <h3>取引概要</h3>
      <table>
        <tr>
          <th>取引日</th>
          <td><%= @record.date %></td>
        </tr>
        <tr>
          <th>通貨ペア</th>
          <td><%= @record.pair.name %> </td>
        </tr>
        <tr>
          <th>時間足</th>
          <td><%= @record.ashi.name %> </td>
        </tr>
        <tr>
          <th>トレード種別</th>
          <td><%= @record.kind.name %> </td>
        </tr>
        <% if @record.indi_main != nil %>
          <tr>
            <th>メインインジケーター</th>
            <td><%= @record.indi_main.name %> </td>
          </tr>
        <% end %>
        <% if @record.indi_sub != nil %>
          <tr>
            <th>サブインジケーター</th>
            <td><%= @record.indi_sub.name %> </td>
          </tr>
        <% end %>
        <% if @record.order != nil %>
          <tr>
            <th>注文方式</th>
            <td><%= @record.order.name %> </td>
          </tr>
        <% end %>
        <% if @record.entry_rate != nil %>
          <tr>
            <th>エントリー価格</th>
            <td><%= @record.entry_rate %> </td>
          </tr>
        <% end %>
        <% if @record.exit_rate != nil %>
          <tr>
            <th>決済価格</th>
            <td><%= @record.exit_rate %> </td>
          </tr>
        <% end %>
        <% if @record.issue.id == 2 %>
          <tr>
            <th>利益</th>
            <td><%= @record.pips %>pips</td>
          </tr>
        <% elsif @record.issue.id == 3 %>
          <tr>
            <th>損失</th>
            <td><%= @record.pips %>pips</td>
          </tr>
        <% else %>
          <tr>
            <th>獲得値幅</th>
            <td>記録なし</td>
          </tr>
        <% end %>
        <tr>
          <th>取引結果</th>
          <td><%= @record.lose_reason.name %></td>
        </tr>
        <tr>
          <th>created by</th>
          <td><%= link_to @record.user.name, "/users/#{@record.user_id}" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5__.img_url), @ad_5__.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2__.img_url), @ad_2__.af_link)%></div>
  <div class="entry_basis">
    <h3>エントリーした根拠</h3>
    <%= safe_join(@record.entry_basis.split("\n"),tag(:br)) %>
  </div>
  <div class="lose_reason">
    <h3>今回の取引の総括</h3>
    <%= safe_join(@record.lose_reason_text.split("\n"),tag(:br)) %>
  </div>
  <% if user_signed_in? && current_user.id == @record.user_id %>
    <div class="lose_reason">
      <h3>投稿者専用エリア</h3>
      <div class="for_user">
        <div class="btn btn--white btn--radius">
          <%= link_to '編集', edit_record_path(@record.id), class: 'btn_word' %>
        </div>
        <div class="btn btn--white btn--radius">
          <%= link_to '削除', record_path(@record.id), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn_word' %>
        </div>
      </div>
    </div>
  <% end %>
  
<%#  <div class="move_page">
<%#    <% if @record.previous_record.present? %>
<%#      <%= link_to "< PREV", record_path(@record.previous_record), class: "btn_word"%>
<%#    <% end %>
<%#    <% if @record.next_record.present? %>
<%#      <%= link_to "NEXT >",record_path(@record.next_record), class: "btn_word" %>
<%#    <% end %>
<%#  </div> %>
  <%= render partial: "shared/rank_record", locals: { records: @record_ranks } %>
  <h3>コメント</h3>
  <div class="container">
    <div class="likes_buttons_<%= @record.id %>">
      <%= render partial: 'like_records/like', locals: { record: @record } %>
    </div>
    <div>
      <i class="fas fa-eye like-btn"></i>_<%= @record.impressions_count %>
    </div>
    <%= form_with model: [@record, @comment_record],url: record_comment_records_path(@record), local: false do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div id="comments__area">
        <%= render partial: 'comment_records/index', locals: { comments: @comment_records } %>
      </div>
    </div>
  </div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5_.img_url), @ad_5_.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2_.img_url), @ad_2_.af_link)%></div>
  <%= render partial: "shared/rank_rule", locals: { rules: @rule_ranks } %>
</section>