<section class="content">
  <% if @record.issue.id == 2 %>
    <h2 ><%= @record.pair.name %>で<%= @record.pips %>pips獲得した取引の詳細</h2>
  <% else @record.issue.id == 3 %>
    <h2 ><%= @record.date %>の取引記録</h2>
  <% end %>
  <div class="record_content">
    <div class="left_content">
      <h3>取引画像</h3>
      <% if @record.image.attached? %>
        <%= link_to image_tag(@record.image, class:"recorded_img_show") %>
      <% else %>
        <%= link_to image_tag("no_image.jpg", class:"recorded_img_show") %>
      <% end %>
    </div>
    <div class="right_content">
      <h3>取引概要</h3>
      <table>
        <tr>
          <th>取引日</th>
          <td><%= @record.date %></td>
        </tr>
        <tr>
          <th>通貨ペア</th>
          <td><%= @record.pair.name %> </td>
        </tr>
        <tr>
          <th>時間足</th>
          <td><%= @record.ashi.name %> </td>
        </tr>
        <% if @record.entry_rate != nil %>
          <tr>
            <th>エントリー価格</th>
            <td><%= @record.entry_rate %> </td>
          </tr>
        <% end %>
        <% if @record.exit_rate != nil %>
          <tr>
            <th>決済価格</th>
            <td><%= @record.exit_rate %> </td>
          </tr>
        <% end %>
        <% if @record.issue.id == 2 %>
          <tr>
            <th>利益</th>
            <td><%= @record.pips %>pips</td>
          </tr>
        <% elsif @record.issue.id == 3 %>
          <tr>
            <th>損失</th>
            <td><%= @record.pips %>pips</td>
          </tr>
        <% else %>
          <tr>
            <th>獲得値幅</th>
            <td>記録なし</td>
          </tr>
        <% end %>
        <tr>
          <th>損失理由</th>
          <td><%= @record.lose_reason.name %></td>
        </tr>
        <tr>
          <th>created by</th>
          <td><%= link_to @record.user.name, "/users/#{@record.user_id}" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="entry_basis">
    <h3>エントリーした根拠</h3>
    <%= safe_join(@record.entry_basis.split("\n"),tag(:br)) %>
  </div>
  <div class="lose_reason">
    <h3>今回の取引の総括</h3>
    <%= safe_join(@record.lose_reason_text.split("\n"),tag(:br)) %>
  </div>
  <% if user_signed_in? && current_user.id == @record.user_id %>
    <div class="lose_reason">
      <h3>投稿者専用エリア</h3>
        <div class="btn btn--white btn--radius">
          <%= link_to '編集', edit_record_path(@record.id), class: 'btn_word' %>
        </div>
        <div class="btn btn--white btn--radius">
        <%= link_to '削除', record_path(@record.id), method: :delete, class: 'btn_word'%>
      </div>
    </div>
  <% end %>
  <div class="container">
    <%= form_with(model: [@record, @comment_record], local: true) do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comment_records.each do |comment| %>
        <p>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</section>