<% set_meta_tags title: 'fxの取引手法一覧', description: 'みんなのfxの取引手法の一覧が集結！通貨ペア、時間足、トレード種別（スキャルピング、デイトレ...）で検索して参考になる取引手法を見つけよう！', keywords: "fx, 投資, 取引手法" %>
<div class="breadcrumbs">
  <% breadcrumb :rules_index, @rule %>
</div>
<section class="content">
  <h2><span>みんなの取引手法</span></h2>
  <div class="container">
    <%= search_form_for @q, url: search_rules_path do |f| %>
      <%= f.collection_select :pair_id_eq,Pair.all,:id,:name,include_blank: '推奨通貨ペアで検索' %>
      <%= f.collection_select :ashi_id_eq,Ashi.all,:id,:name,include_blank: '推奨時間足で検索' %>
      <%= f.collection_select :indi_main_id_eq,IndiMain.all,:id,:name,include_blank: 'インジケーターで検索' %>
      <%= f.collection_select :kind_id_eq,Kind.all,:id,:name,include_blank: '推奨トレード種別で検索' %>
      <%= f.collection_select :issue_id_eq,Issue.all,:id,:name,include_blank: '勝てるか負けるかで検索' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <div class="grid_">
    <% @rules.each_slice(8) do |rules| %>
      <% rules.each do |rule| %>
        <%= render partial: "shared/rules", locals: { rule: rule } %>
      <% end %>
      <div class="ad_3"><%= link_to(image_tag(@ad_3.img_url), @ad_3.af_link)%></div>
      <div class="ad_4"><%= link_to(image_tag(@ad_4.img_url), @ad_4.af_link)%></div>
    <% end%>
  </div>
  <div class="pagi">
    <%= paginate @rules %>
  </div>
  <%= render partial: "shared/rank_rule", locals: { rules: @rule_ranks } %>
  <%= render partial: "shared/rank_record", locals: { records: @record_ranks } %>
</section>