<section class="content">
  <h2 >みんなの取引手法</h2>
  <div class="grid_">
    <% @rules.each do |rule| %>
      <div class="rule">
        <div class="rule_left">
          <%= link_to image_tag(rule.image, class:"rule_img"), rule_path(rule.id) %> 
        </div>
        <div class="rule_right">
          <p class="info">
            <%= rule.name %> 
          </p>
          <p class="info">
            推奨通貨ペア → <%= rule.pair.name %> ( <%= rule.ashi.name%> )
          </p>
          <p class="created_by">
            by <%= link_to rule.user.name, '#', {class: "link_to_user"} %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= paginate @rules %>
</section>