<section class="content">
  <h2 >みんなの取引手法</h2>
  <div class="container">
    <%= search_form_for @q, url: search_rules_path do |f| %>
      <%= f.collection_select :pair_id_eq,Pair.all,:id,:name,include_blank: '推奨通貨ペアで検索' %>
      <%= f.collection_select :ashi_id_eq,Ashi.all,:id,:name,include_blank: '推奨時間足で検索' %>
      <%= f.collection_select :kind_id_eq,Kind.all,:id,:name,include_blank: '推奨トレード種別で検索' %>
      <%= f.collection_select :issue_id_eq,Issue.all,:id,:name,include_blank: '勝てるか負けるかで検索' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <div class="grid_">
    <% @rules.each do |rule| %>
      <%= render partial: "shared/rules", locals: { rule: rule } %>
    <% end %>
  </div>
  <div class="pagi">
    <%= paginate @rules %>
  </div>
</section>