<% set_meta_tags title: "#{@rule.name}", description: "#{@rule.entry}" %>
<div class="breadcrumbs">
  <% breadcrumb :rule_show, @rule %>
</div>
<section class="content">
  <h2><span><%= @rule.name %></span></h2>
  
<%#  <div class="move_page">
<%#    <% if @rule.previous_rule.present? %>
<%#      <%= link_to "< PREV", rule_path(@rule.previous_rule), class: "btn_word"%>
<%#    <% end %>
<%#    <% if @rule.next_rule.present? %>
<%#      <%= link_to "NEXT >",rule_path(@rule.next_rule), class: "btn_word" %>
<%#    <% end %>
<%#  </div> %>
  
  <div class="record_content">
    <div class="left_content">
      <h3>取引画像</h3>
      <%= link_to image_tag(@rule.image, class:"recorded_img_show") %>
    </div>
    <div class="right_content">
      <h3>取引概要</h3>
      <table>
        <tr>
          <th>推奨通貨ペア</th>
          <td><%= @rule.pair.name %> </td>
        </tr>
        <tr>
          <th>推奨時間足</th>
          <td><%= @rule.ashi.name %> </td>
        </tr>
        <tr>
          <th>推奨トレード種別</th>
          <td><%= @rule.kind.name %> </td>
        </tr>
        <% if @rule.indi_main != nil %>
          <tr>
            <th>メインインジケーター</th>
            <td><%= @rule.indi_main.name %> </td>
          </tr>
        <% end %>
        <% if @rule.indi_sub != nil %>
          <tr>
            <th>サブインジケーター</th>
            <td><%= @rule.indi_sub.name %> </td>
          </tr>
        <% end %>
        <% if @rule.issue.id == 2 %>
          <tr>
            <th>勝てる？負ける？</th>
            <td>勝てる</td>
          </tr>
        <% else @rule.issue.id == 3 %>
          <tr>
            <th>勝てる？負ける？</th>
            <td>負ける</td>
          </tr>
        <% end %>
        <tr>
          <th>created by</th>
          <td><%= link_to @rule.user.name, "/users/#{@rule.user_id}" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5.img_url), @ad_5.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2.img_url), @ad_2.af_link)%></div>
  <div class="entry_basis">
    <h3><%= @rule.overview %></h3>
    <%= safe_join(@rule.overview_content.split("\n"),tag(:br)) %>
  </div>
  <div class="entry_basis">
    <h3>エントリータイミング</h3>
    <%= safe_join(@rule.entry.split("\n"),tag(:br)) %>
  </div>
  <div class="entry_basis">
    <h3>決済タイミング</h3>
    <%= safe_join(@rule.entry.split("\n"),tag(:br)) %>
  </div>
  <div class="lose_reason">
    <h3>今回の取引の総括</h3>
    <%= safe_join(@rule.exit.split("\n"),tag(:br)) %>
  </div>
  <% if user_signed_in? && current_user.id == @rule.user_id %>
    <div class="lose_reason">
      <h3>投稿者専用エリア</h3>
      <div class="for_user">
        <div class="btn btn--white btn--radius">
          <%= link_to '編集', edit_rule_path(@rule.id), class: 'btn_word' %>
        </div>
        <div class="btn btn--white btn--radius">
        <%= link_to '削除', rule_path(@rule.id), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn_word'%>
        </div>
      </div>
    </div>
  <% end %>
  
<%#  <div class="move_page">
<%#    <% if @rule.previous_rule.present? %>
<%#      <%= link_to "< PREV", rule_path(@rule.previous_rule), class: "btn_word"%>
<%#    <% end %>
<%#    <% if @rule.next_rule.present? %>
<%#      <%= link_to "NEXT >",rule_path(@rule.next_rule), class: "btn_word" %>
<%#    <% end %>
<%#  </div> %>
  <%= render partial: "shared/rank_rule", locals: { rules: @rule_ranks } %>
  <h3>コメント</h3>
  <div class="container">
    <div id="likes_buttons_<%= @rule.id %>">
      <% if user_signed_in? %>
        <% if current_user.liked__by?(@rule.id) %>
          <td>
            <%= link_to destroy_like_rule_path(@rule), method: :DELETE, remote: true do %>
              <i class="fas fa-thumbs-up unlike-btn"></i>
            <% end %>
            <%= @rule.like_rules.count %>
          </td>
        <% else %>
          <td>
            <%= link_to create_like_rule_path(@rule), method: :POST, remote: true do %>
              <i class="fas fa-thumbs-up like-btn"></i>
            <% end %>
            <%= @rule.like_rules.count %>
          </td>
        <% end %>
      <% end %>
    </div>
    <div>
      <i class="fas fa-eye like-btn"></i>_<%= @rule.impressions_count %>
    </div>
    <%= form_with model: [@rule, @comment_rule], url: rule_comment_rules_path(@rule), local: false do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div id="comments_area">
        <%= render partial: 'comment_rules/index', locals: { comments: @comment_rules } %>
      </div>
    </div>
  </div>
  <div class="ad_5"><%= link_to(image_tag(@ad_5_.img_url), @ad_5_.af_link)%></div>
  <div class="ad_2_show"><%= link_to(image_tag(@ad_2_.img_url), @ad_2_.af_link)%></div>
</section>